
/* 
.overlay{
  background-image: url('@/bg-person.png');

} */

/* components/ButtonAnimation.module.css */

.container {
  position: relative;
  height: 200px; /* Adjust height as needed */
}

.button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.5s ease;
}

.moveUp {
  animation: moveUpAnimation 0.5s ease infinite alternate;
}

@keyframes moveUpAnimation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}


.animated:hover{
  @keyframes slideInDown {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .animate-slideInDown {
    animation: slideInDown 0.5s ease;
  }
}
@tailwind base;
  @tailwind components;
  @tailwind utilities;
  
  
  
 